.VList-wrapper {
  --columns: 3; /* or pass from jsx */
  border: 4px solid black;
}

.VList-wrapper table {
  width: 100%;
  border-collapse: collapse;
}

.VList-wrapper th,
.VList-wrapper td {
  width: calc(100% / var(--columns));

  height: 100%;
  padding: var(--cell-padding);
  text-align: center;
  border: 0 solid black;

  text-overflow: ellipsis;
  overflow-x: hidden;
  max-width: 0;
}

.VList-wrapper th {
  height: var(--row-height);
  border-bottom-width: 2px;
}
.VList-wrapper th + th {
  border-left-width: 2px;
}
.VList-wrapper td {
  border-top-width: 1px;
  border-bottom-width: 1px;
}
.VList-wrapper td + td {
  border-left-width: 1px;
}

.VList-wrapper .VList-table {
  display: block;
  overflow-y: scroll;
  height: var(--table-height);
  margin-bottom: -1px;

  -ms-overflow-style: none;
  scrollbar-width: none;
}
.VList-wrapper .VList-table::-webkit-scrollbar {
  display: none;
}

.VList-wrapper .VList-table > tbody {
  position: relative;
  display: table;
  width: inherit;
  height: var(--tbody-height);
}
.VList-wrapper .VList-table > tbody > tr {
  position: absolute;
  display: table;
  width: inherit;
  height: var(--row-height);
}
