.VList-wrapper {
  --columns: 3; /* or pass from jsx */
  border: 4px solid black;
  min-width: 475px;
}

.VList-wrapper table {
  width: 100%;
  border-collapse: collapse;
}

.VList-wrapper th,
.VList-wrapper td {
  width: calc(100% / var(--columns));

  height: 100%;
  padding: var(--cell-padding);
  text-align: center;
  border: 0 solid black;
}

.VList-wrapper th {
  height: var(--row-height);
  border-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
}
.VList-wrapper td {
  border-width: 1px;
}

.VList-wrapper .VList-table {
  display: block;
  overflow-y: scroll;
  height: var(--table-height);

  -ms-overflow-style: none;
  scrollbar-width: none;
}
.VList-wrapper .VList-table::-webkit-scrollbar {
  display: none;
}

.VList-wrapper .VList-table > tbody {
  position: relative;
  display: table;
  width: calc(100% - 1px); /* account for right border */
  height: var(--tbody-height);
}
.VList-wrapper .VList-table > tbody > tr {
  position: absolute;
  display: table;
  width: 100%;
  height: var(--row-height);
}
